@import 'reset';
@import 'menu';
@import 'svg';

header{
  position:relative;
}
.pub{
  background-color: #b02d10;
  width:200px;
  position:absolute;
}

/**body{
  background-position: center;
  background-repeat:no-repeat;
  background-size: 100%;
}**/

@media (min-width: 768px){

}
@media (min-width: 992px){

}
@media (min-width: 1200px){

}