@import 'reset';
@import 'svg';

@font-face {
  font-family: "Police_perso";
  src: url('../fonts/BerninaSans-Web-CondensedBold.woff2');
}

.background{
  width: 100%;
}
.text_pub{
  font-weight:bold;
}
.text_plus_petit{
  font-size: 11px;
}
body{
  background-color: #f7ffff;
}
body,article,footer,header,H1{
  font-family: Police_perso;
}
header{
  position:relative;
  z-index: 1;
}
.rdv, h2{
  color:#00465b;
}
.rdv{
 background: rgba(255,255,255,0);
  width: 125px;
  height: 35px;
  margin: 5px;
  border-radius:8px;
  padding: 0px;
}
p{
  color: #00465b;
}
.pub{
  background-color: darken(red,20);
  width:220px;
  position:absolute;
  top: 60px; left: 170px;
  border-radius: 10px;
  text-align: center;
  transform: rotate(25deg);
  padding:5px;
}
.pub p{
  margin:0;
  color:white;
}
.bandeau_background{
  background-color: rgba(255,255,255,0.5);
  position:absolute;
  z-index: 2;
  width:100%;
  color:white;
  font-size: 10px;
  margin-bottom: 15px;
  p,h2{
    color:white;
    margin-left: 20px;
    margin-bottom: 0px;
  }
}
.alignement{                      //Pour positionner le bandeau blanc sous l'image
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.inner{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.footer_img{
  width: 150px;
  text-align: center;
}
.footer_img img{
  width: 150px;
}
.arrondir{
  $color:opacify(white,0.5);
  border: 5px solid $color;
  border-radius: 100px;
}
.active{
  order:1;
}
.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top .img{
  width: 200px;
}
.center{
  text-align: center;
  color: #00465b;
}
footer{
  margin-left: 20%;
  margin-right: 20%;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}




/**body{
  background-position: center;
  background-repeat:no-repeat;
  background-size: 100%;
}**/

@media (min-width: 556px){
  .inner h2{
    display: block;
  }
  .active{
    order:-1;
  }
  .pub{
    top: 60px; left: 350px;
  }
}
@media (min-width: 834px){
  footer{
    justify-content: space-between;
    margin: 0px;
  }
  .pub{
    top: 60px; left: 500px;
  }
  .inner{
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media (min-width: 1200px){
  .pub{
    top: 60px; left: 900px;
  }
  .bandeau_background{          //Pour le text du bandeau blanc sous l'image
    display: flex;
    p{
      margin-top:5px ;
      margin-left: 5px;
    }
  }
  footer{
    justify-content: space-between;
  }
}
@media (min-width: 1900px){
  .pub{
    top: 60px; left: 1600px;
  }
}